@tailwind base;
.drop-down:hover + ul{
    pointer-events: all;
    opacity: 1;
}
.drop-down:hover + ul>li{
    pointer-events: all;
    opacity: 1;
}
.drop-list:hover{
    opacity: 1;
    pointer-events: all
}
.background{
    background: url(./images/jordan-nix-su6w8v_JXwo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 91.56vh;
}
.linehover{
    position: relative;
    transition: all 0.4s linear ease-in-out;
    /* padding: 1rem; */
}
.linehover:hover::after{
    position: absolute;
    content: "";
    left: 1px;
    bottom: -5px;
    height: 3px;
    background-color: rgb(253, 18, 18);
    width: 30px;
    transition: all 0.4s linear;

}
.linehover::after{
    position: absolute;
    content: "";
    left: 1px;
    bottom: -5px;
    height: 3px;
    background-color: #000;
    width: 104px;
    transition: all 0.4s linear ease-in-out;
}
.leftShirt{
    left: 54%;
}
.leftGlass{
    left: 16%;
    top: 40%;
}
.leftShoe{
    left: 57.7%;
    top: 58%;
}
.cart{
    color: red;
    transition: all 0.3s ease-in-out; 
}
.img-hover{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    opacity: 1;
    transition: all 0.8s ease-in-out;
}


@tailwind components;

@tailwind utilities;